<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            text-align: center; /* Выравнивание текста по центру */
        }

        h1, h2 {
            color: #333;
        }

        #course-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .types-card {
            width: 45%; /* Ширина карточки */
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
            box-sizing: border-box;
        }

        .types-card h2 {
            margin-top: 0;
            font-size: 24px;
            color: #333;
        }

        .types-card p {
            color: #666;
            font-size: 16px;
        }

        .btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    {{> header}}
    <h1>Добро пожаловать на главную страницу!</h1>
    <h2>Мы предоставляем курсы по этим направлениям:</h2>
    <div id="course-container">
        {{#each types}}
        <div class="types-card">
            <h2>{{type_name}}</h2>
            <p>{{this.description}}</p>
        </div>
        {{/each}}
    </div>
    <a href="/courses" class="btn">Перейти к курсам</a>
</body>
</html>
