<h1> здесь должны быть пройденные курсы</h1>
<p> твоя задача сделать карточку с инфой о курсе, могут возникнуть проблемы с данными, но тыкай, если что</p>
<p>должна быть кнопка которая предлагает завершить курс</p>
