<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <style>
        /* Стили для карточек курсов */
        .course-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>
    {{> header}}

    <div id="course-container">
        {{#each courses}}
        <div class="course-card">
            <h2>{{courses[]}}</h2> 
            <h2>{{Course.duration}}</h2> 
            <p>{{course_description}}</p>
            <p>Duration: {{ duration}}</p> 
            {{!-- <p>Duration: {{['Course.duration']}}</p> --}}
        </div>
        {{/each}}
    </div>

    <script>

    </script>

</body>

</html>