<h1> здесь должны быть пройденные курсы</h1>
<p> твоя задача сделать карточку с инфой о курсе, могут возникнуть проблемы с данными, но тыкай, если что</p>
<p>должна быть кнопка которая предлагает завершить курс</p>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <style>
        /* Стили для карточек курсов */
        .course-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>
    {{> header}}

    <div id="course-container">
        {{#each courses}}
        <div class="course-card">
            <h2>{{this.course_name}}</h2>
            <p>описание{{courses.description}}</p>
            <p>Duration: {{courses.duration}}</p>
            {{!-- добавь что-то еще --}}
            {{!-- <button class="details-button" data-course-id="{{course_id}}">Подробнее</button> --}}
        </div>
        {{/each}}
    </div>

    <script>

    </script>

</body>

</html>
