<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <style>
        /* Стили для карточек курсов */
        .types-card {
            border: 1px solid #ccc;
            border-radius: 8px; /* Добавлен скругленный угол для карточек */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавлен тень для эффекта поднятия */
            padding: 20px;
            margin: 10px;
            background-color: #f9f9f9; /* Добавлен фоновый цвет для карточек */
        }
    </style>
</head>

<body>
    {{> adminHeader}}
    {{> back}}

    <div id="course-container">
        {{#each types}}
        <div class="types-card">
            <h2>{{type_name}}</h2>
            <p>ID: {{this.type_id}}</p>
            <p>Описание: {{this.description}}</p>
            <p>Детали описание: {{this.other_details}}</p>
        </div>
        {{/each}}
    </div>

    <script>

    </script>

</body>

</html>
