<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <style>
        /* Стили для карточек курсов */
        .course-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>
    {{> header}}
        {{> adminHeader}}
       {{> back}}
    <div id="course-container">
        
        {{#each users}}
        <div class="course-card">
            <h2>{{this.Login}}</h2>
            <p>ID: {{this.ID}}</p>
            <p>Email: {{this.Email}}</p>
        </div>
        {{/each}}
    </div>

    <script>

    </script>

</body>

</html>
