<header>
    <nav>
        <ul>
            <li><a href="/admin/users">Посмотреть список пользователь<a></li>
            <li><a href="/admin/types">Типы</a></li>
            <li><a href="/admin/courses">Редактировать курсы</a></li>
        </ul>
    </nav>
</header>