<div class="course">
    <p>Название: {{course.course_name}}</p>
    <p>Описание: {{course.description}}</p>
    <p>Навыки, наличие которых необходимо для эффективного прохождения курса: {{course.other_details}}</p>
    <p>Продолжительность: {{course.duration}} часов</p>
</div>