<div class="course">
    <p>Название: {{course.course_name}}</p>
    <p>Описание: {{course.description}}</p>
    <p>Скилы для изучения: {{course.other_details}}</p>
    <p>Продолжительность: {{course.duration}}</p>
</div>