<header>
    <nav>
        <ul>
            <li><a href="/courses">Курсы</a></li>
            <li><a href="/masters">Преподаватели</a></li>
            <li><a href="/classes">Мастер-классы</a></li>
            <li><a href="/auth/login">Вход</a></li>
        </ul>
    </nav>
</header>