<header>
    <nav>
        <ul>
            <li><a href="/courses">Курсы</a></li>
            <li><a href="/profile">Ваш профиль</a></li>
            <li><a href="/auth/login">Вход</a></li>
        </ul>
    </nav>
</header>