<header style="background-color: #4567b7; padding: 1rem; text-align: center;">
    <nav>
        <ul style="list-style: none; margin: 0; padding: 0; display: flex; justify-content: space-between;">
            <li style="margin-right: 20px;"><a href="/courses" style="color: #ffffff; text-decoration: none;">Курсы</a></li>
            <li style="margin-right: 20px;"><a href="/profile" style="color: #ffffff; text-decoration: none;">Ваш профиль</a></li>
            <li id="login-logout" style="margin-right: 20px;"><a id="login-logout-link" href="/auth/login" style="color: #ffffff; text-decoration: none;">Вход</a></li>
        </ul>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const loginLogoutLink = document.getElementById('login-logout-link');
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                const isAuthenticated = JSON.parse(xhr.responseText).isAuthenticated;

                // Изменяем текст и ссылку в зависимости от статуса аутентификации
                if (isAuthenticated) {
                    loginLogoutLink.textContent = 'Выход';
                    loginLogoutLink.href = '/auth/logout';
                } else {
                    loginLogoutLink.textContent = 'Вход';
                    loginLogoutLink.href = '/auth/login';
                }
            } else {
                console.error('Произошла ошибка при выполнении AJAX-запроса');
            }
        }
    };
    xhr.open('GET', '/auth/status', true); // Путь '/auth/status' предполагает наличие на сервере соответствующего маршрута для проверки статуса аутентификации
    xhr.send();
});

</script>
