<header>
    <nav>
        <ul>
            <li><a href="/profile/finished">Ваши завершенные курсы</a></li>
            <li><a href="/profile/inprocess">Ваш курсы</a></li>
            <li><a href="/auth/logout">Выход</a></li>
        </ul>
    </nav>
</header>